.okvir, .okvirSlide {
    background-color: rgba(255, 255, 255, 0.8);
}
.okvir{
    margin: 4%;
    padding: 3%;
    float: left;
    width: 40%;

    -webkit-border-radius: 70px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 70px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 70px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

body {
     padding-top: 70px;;
 }
nav li a, p, b, u, strong{
    font-size: 21px;
}
